node_modules
**/node_modules
data/
.env
*.db
*.db-journal

# Mobile app
android/
ios/
app/
components/
lib/
assets/
hooks/
constants/
scripts/
entrypoint.js
metro.config.js
babel.config.js
tailwind.config.js
tsconfig.json
app.json
expo-env.d.ts
nativewind-env.d.ts

# Anchor / Solana programs
programs/
target/
.anchor/
Anchor.toml
Cargo.toml
Cargo.lock

# Litepaper
litepaper/

# Misc
.git
.expo
.yarn
.yarnrc.yml
